<h1 class="countryName">{{name}}</h1>
<div class="container">
<div class="countryDescription">
<p><span>Capital:</span> {{capital}}</p>
<p><span>Population:</span> {{population}}</p>
<p><span>Languages:</span> 
<ul>
    {{#each languages}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>
</p>
</div>
<img src="{{flag}}" alt="" height="320">
</div>
